
####################### THE FILENAME WILL NEED TO BE CHANGED FROM config.env.example TO config.env TO ALLOW THE BOT TO USE THE ENVIRONMENTAL VARIABLES ###############################

# MONGO #
MONGO_URI = *enter mongo uri here*

# PUSHSAFER #
PUSH_API_KEY = *enter pushsafer api key here*

# RUN LIVE TRADER. IF SET TO TRUE, LIVE TRADER WILL RUN AND PAPER TRADER WILL NOT RUN. IF SET TO FALSE, ONLY PAPER TRADER WILL RUN #
RUN_LIVE_TRADER = *True/False if you want to live trade*

# PYTZ TIMEZONE #
TIMEZONE = *find your timezone here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones*

# TASKS #
RUN_TASKS = *True/False if you want to run tasks*

# ORDERS #
BUY_PRICE = *bidPrice, askPrice, lastPrice. Must be askPrice for OCO - This is case sensitive*
SELL_PRICE = *bidPrice, askPrice, lastPrice - This is case sensitive*

# OCO #
TAKE_PROFIT_PERCENTAGE = *percentage to be used to calculate take profit i.e 1.1 equals 10% above entry price*
STOP_LOSS_PERCENTAGE = *percentage to be used to calculate take profit i.e 0.9 equals 10% below entry price*